{erl_opts, [debug_info]}.
{deps, [
	{cowboy, "2.9.0"},
	{jiffy, "1.0.8"},
	{epgsql, {git, "https://github.com/epgsql/epgsql"}},
	{ibrowse, {git, "https://github.com/cmullaparthi/ibrowse/"}}
]}.

{plugins, [rebar3_run]}.

{relx, [{release, {eneo, "0.1.0"},
         [eneo,
          sasl]},

        {mode, dev},

        %% automatically picked up if the files
        %% exist but can be set manually, which
        %% is required if the names aren't exactly
        %% sys.config and vm.args
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"}

        %% the .src form of the configuration files do
        %% not require setting RELX_REPLACE_OS_VARS
        %% {sys_config_src, "./config/sys.config.src"},
        %% {vm_args_src, "./config/vm.args.src"}
]}.

{profiles, [
	{prod, [
		{relx, [{mode, prod}]}
	]},
	{test, [
		{deps, [ibrowse, eneo]},
		{erl_opts, [debug_info]}%,
		%{sys_config, "./config/eunit.config"}
	]}
]}.
